:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
  --bar-color: hsl(230, 57%, 53%);
  ;
  font-family: "Rubik", sans-serif;

}

body {
  margin: 0;
  background-color: var(--bg-color);
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(15, 15, 15);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  overflow: hidden;
}

#social-icons {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  margin-right: 100px;

}

.nav-bar a {
  float: right;
  padding: 0px 10px;
  margin: 10px 0px 0px 0px;
}

.header {
  margin: 80px 40px 20px;
  text-align: center;
}

.small-header {
  text-align: center;
  margin: 0 40px 10px;

}

.about-text {
  /* text-align: center; */
  margin: 0 15% 80px;
  line-height: 1.2;
}


.skills-container {
  margin: 0px 15% 80px;
}

.cont {
  margin-bottom: 5px;
  background-color: hsl(230, 92%, 85%);
  border-radius: 0 0.25rem 0.25rem 0;
}

.skills-container p {
  font-size: .7vw;
  overflow: hidden;
  margin-bottom: 2px;

}

.skill-level {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  padding: 0%;
  height: 10px;
  background-color: var(--bar-color);
  border-radius: 0 0.25rem 0.25rem 0;

}


.css {
  padding: 0;
  height: 10px;
  width: 90%;
  background-color: var(--bar-color);
  border-radius: 0 0.25rem 0.25rem 0;
}

.mongodb {
  padding: 0;
  height: 10px;
  width: 20%;
  background-color: var(--bar-color);
  border-radius: 0 0.25rem 0.25rem 0;
}

.c {
  padding: 0;
  height: 10px;
  width: 50%;
  background-color: var(--bar-color);
  border-radius: 0 0.25rem 0.25rem 0;
}

.java {
  padding: 0;
  height: 10px;
  width: 20%;
  background-color: var(--bar-color);
  border-radius: 0 0.25rem 0.25rem 0;
}


.javascript {
  width: 50%;
  padding: 0%;
  height: 10px;
  background-color: var(--bar-color);
  border-radius: 0 0.25rem 0.25rem 0;
}


.python {
  width: 75%;
  padding: 0%;
  height: 10px;
  background-color: var(--bar-color);
  border-radius: 0 0.25rem 0.25rem 0;
}


/*found on Hyperplexed*/


#card-container {
  align-items: center;
  background-color: var(--bg-color);
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 420px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 40px;
  /*fix*/
  overflow: hidden;
  padding: 10px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 420px;
  flex-direction: row;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-content p {
  margin: 10px 0px;
  font-size: 1vw;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
p,
h1,
h2,
h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {
  color: rgb(240, 240, 240);
}

a {
  color: rgb(20, 20, 20);
}

.card-image {
  align-items: center;
  display: flex;
  padding-top: 10px;
  width: 100%;
  border-radius: 5%;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  display: flex;
  font-size: 12px;

}

.card-info-container {
  overflow: hidden;
  height: 100%;
}

.card-info>i {
  font-size: 1em;
  height: 10px;
  line-height: 20px;
}

.card-info-title {
  font-size: 20px;
  line-height: 20px;
}

.card-info-title>h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

.card-link {
  z-index: 3;
}

#get-in-touch {
  font-family: "Rubik", sans-serif;
  align-items: center;
  display: flex;
  margin-left: 20px;
}

#contact-form label {
  color: white;
}

#contact-form {
  margin: 0px 15% 80px;
}

input[type="text"],
textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: var(--bg-color);

}

input[type="email"],
textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: var(--bg-color);

}

#email {
  width: 20%;
  margin-bottom: 5px;
  color: white;
}

#name {
  width: 20%;
  margin-bottom: 5px;
  color: white;
}

#message {
  height: 100px;
  width: 100%;
  color: white;
}

#spacer {
  margin-bottom: 80px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: scroll;
  }

  #cards {
    max-width: 500px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 280px;
  }

  .card-image {
    height: 80px;
  }

  .card-image>i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info>i {
    font-size: 0.8em;
  }

  .card-info-title>h3 {
    font-size: 0.9em;
  }

  .card-info-title>h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}