:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
  --bar-color: hsl(230, 57%, 53%);
  ;
  font-family: "Rubik", sans-serif;

}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(15, 15, 15);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  z-index: 1000;
}

.website {
  flex: 1;
}

.page-anchors {
  display: flex;
  flex: 2;
  justify-content: space-around;
  flex-direction: row;
}

#social-icons {
  display: flex;
  flex: 1;
  width: 100%;
  font-size: 30px;
  margin-right:5%;
  justify-content: flex-end;

}

.nav-bar a {
  float: right;
  padding: 0px 10px;
}

.anchor {
  color: white;
  font-size: 20px;
  padding: 0px;
  text-decoration: none;
  scroll-behavior: smooth;
}
@keyframes fadeinslide {
  0% {
    opacity: 0;
    transform: translateY(50px);}
  100% {opacity: 1;}

}

#introduction-section {
  margin-bottom: 0px 400px;
}

.introduction {
  margin: 400px 15%;
  animation: fadeinslide 2s;
  animation-timing-function: ease-in-out;
  
}

.header {
  margin: 20px 0;
  font-size: 48px;
  font-weight: bold;
}

.small-header {
  margin: 50px 0;

}

.about-text {
  /* text-align: center; */

  line-height: 1.2;
  font-size: 24px;
}


.skills-container {
  margin: 0 15% 400px;
  display: flex;
  flex-direction: row;
}

.skill-text {
  flex: 1;
}

.partition {
  background: #303030;
  width: 3px;
  border-radius: 5rem;
  margin: 0px 50px 0px 20px;
}

.cont {
  margin-bottom: 5px;
  background-color: hsl(230, 92%, 85%);
  border-radius: 0 0.25rem 0.25rem 0;
}

/* experimental  */
.skills {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
}

.skills h1 {
  font-size: 36px;
}

.skills h1 span {
  font-size: 36px;
}

.skills p {
  max-width: 400px;
  line-height: 1.5;
}

.skill-list {
  width: 500px;
  max-width: 550px;
  max-height: 400px;
  padding-right: 50px;
  overflow-y: auto;
}

.skill {
  margin: 0 0 20px 0;
}

.skill span {
  display: inline-block;
  width: 100px;
}

.skill-bar {
  background-color: #282828;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.skill-level {
  background-color: #404040;
  height: 100%;
}


/*found on Hyperplexed*/
.project-container {
  margin: 0 15% 400px;
}

.project-container a {
  color: white;
}
.project-text {
    margin: 0 0 40px;
 }
#card-container {
  align-items: center;
  background-color: var(--bg-color);
  max-width: 1080px;
  display: flex;
  height: 420px;
  margin-top: auto;
  margin-bottom: 40px;
  /*fix*/
  overflow: hidden;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 420px;
  flex-direction: row;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-content p {
  margin: 10px 0px;
  font-size: 1vw;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
p,
h1,
h2,
h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {
  color: rgb(240, 240, 240);
}

a {
  color: rgb(20, 20, 20);
}

.card-img {
  align-items: center;
  display: flex;
  padding-top: 10px;
  max-height: 30%;
  width: 100%;
  border-radius: 2px;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  display: flex;
  font-size: 12px;

}

.card-info-container {
  overflow: hidden;
  height: 100%;
}

.card-info>i {
  font-size: 1em;
  height: 10px;
  line-height: 20px;
}

.card-info-title {
  font-size: 24px;
  font-weight: bold;
}

.card-info {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-top: 8px;
}

.card-link {
  z-index: 3;
}

#get-in-touch {
  font-family: "Rubik", sans-serif;
  margin: 200px 15%;
  display: flex;
  flex-direction: column;
}

#contact-form label {
  color: white;
}

#contact-form {
  margin: 0px 0 80px;
}

input[type="text"],
textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: var(--bg-color);

}

input[type="email"],
textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: var(--bg-color);

}

#email {
  width: 40%;
  margin-bottom: 5px;
  color: white;
}

#name {
  width: 40%;
  margin-bottom: 5px;
  color: white;
}

#message {
  height: 100px;
  width: 100%;
  color: white;
}

#spacer {
  margin-bottom: 80px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: scroll;
  }

  .project-container {
    margin: 0 5% 200px;
  }
  .project-text{

  
  margin:0 15% 40px;}
  #cards {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* Enable smooth scrolling on iOS devices */
    scroll-snap-type: x mandatory;
    /* Enable snap scrolling */
  }

  .card {
    flex: 0 0 auto;
    /* Allow cards to shrink to fit in the carousel */
    scroll-snap-align: start;
    /* Snap cards to the start of the viewport */
  }


}

@media (max-width: 500px) {
  .page-anchors a {
    display: flex;
    flex: 2;
    justify-content: space-around;
    flex-direction: row;
    font-size: 10px;
  }

  .website h2 {
    font-size: 20px;
  }

  #social-icons a {
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    margin-right: 5px;
  }

  .introduction {
    margin: 200px 15%;
  }

  #introduction-section {
    margin: 0px 0px;
  }

  .header {
    font-size: 20px;
  }

  .about-text {
    font-size: 16px;
  }

  .partition {
    display: none;
  }

  .skills-container {
    margin: 0 15% 200px;
    display: flex;
    flex-direction: column;
  }

  .skill-list {
    width: 250px;
    max-width: 250px;
  }

  .skill-about h2 {
    font-size: 16px;
  }

  .skill-about {
    margin: 0 0 20px 0;
  }

  .project-container {
    margin: 0 0 100px;
  }

  .project-container h2 {
    font-size: 16px;
  }

  #get-in-touch {
    margin: 100px 15%;
  }



}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}
